.distance-select {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: solid 1px lightgray;
}

.distance-buttons-container{
    display: flex;
    width: 50%;
    justify-content: center;
}

.distance-button {
    margin: 0.25rem;
    padding: 0.5rem;
    border-radius: 8px;
    border: solid 1px $color-grey;
    min-width: 50%;
    background-color: $color-blue;
    color: white;
}
